.eventStatus {
	--event-status-size: 1.5rem;
	background: #eee;
	height: var(--event-status-size);
	width: var(--event-status-size);
	border-radius: 999px;
	outline: 1px solid #eee;
	outline-offset: .5rem;
}

.active {
	background: var(--color-uta-blue);
	outline-color: var(--color-uta-blue);
}
