.button {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	font-family: inherit;
	font-weight: bold;
	padding: 0.75rem 1.25rem;
	border: 2px solid var(--color-primary);
	border-radius: 3.5rem;
	text-decoration: none;
	user-select: none;
}

.button.primary {
	background: var(--color-primary);
	color: var(--color-white);
}

.button.secondary {
	background: var(--color-white);
	color: var(--color-primary);
}

.button:active,
.button:hover {
	border-color: var(--color-primary-alt);
	cursor: pointer;
}

.button.primary:active,
.button.primary:hover {
	background-color: var(--color-primary-alt);
}

.button.secondary:active,
.button.secondary:hover {
	color: var(--color-primary-alt);
}
