.header {
  --header-color-background: var(--color-primary);
  --header-color-primary: var(--color-background);

  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background: var(--header-color-background);
  z-index: var(--z-index-header);
}

.header a {
  color: var(--header-color-primary);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-transform: uppercase;
}

.header a:active,
.header a:hover {
  cursor: pointer;
  filter: brightness(0.75);
}

.header nav {
  width: 100%;
}

.header nav > * {
  flex: 33%;
}

.icon {
  display: none;
  color: var(--header-color-primary);
  margin-left: 1rem;
}

.header ul {
  width: 100%;
}

.header ul.horizontal {
  padding: 1rem;
}

.header ul.horizontalEnd {
  padding-right: calc(max(min(10%, 6.25rem), 3.75rem) + 3.125rem * 2);
}

.header ul.vertical {
  display: none;
  padding: 2.25rem 1.25rem;
  gap: 1.125rem;
  background-color: var(--color-primary);
}

.header ul.vertical li {
  display: flex;
  padding: 0.75rem 0;
  width: 100%;
}

.header ul.vertical li:not(:last-child) {
  border-bottom: 1px solid var(--header-color-primary);
}

.header ul.vertical a {
  color: var(--header-color-primary);
  font-size: 1.25rem;
  font-weight: var(--font-weight-regular);
  width: 100%;
}

.header ul.vertical li .arrow {
  color: var(--header-color-primary);
  margin-left: auto;
}

.headerOffset {
	width: 100%;
	height: var(--header-height);
	flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .header ul.horizontal:not(.horizontalEnd) {
    display: none;
  }

  .header ul.horizontal li {
    display: inline-block;
    color: #003865;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .header ul.vertical.open {
    display: flex;
  }

  .icon {
    display: inline-block;
  }

  .icon:active,
  .icon:hover {
    filter: brightness(0.75);
  }
}

.mlhBadge {
  display: block;
  max-width: 6.25rem;
  min-width: 3.75rem;
  position: fixed;
  right: 3.125rem;
  top: 0;
  width: 10%;
  z-index: var(--z-index-mlh-badge);
}

.mlhBadge img {
  width: 100%;
}
