.footer {
	--footer-color-background: var(--color-primary);
	--footer-color-primary: var(--color-background);

	background: var(--footer-color-background);
	padding: 3rem;
	flex-wrap: wrap;
	gap: 3rem;
}

.footer a:active,
.footer a:hover {
  cursor: pointer;
  filter: brightness(0.75);
}

.footerNav > .footerNavHeading {
	color: var(--footer-color-primary);
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
}

.footerNav ul a {
	color: var(--footer-color-primary);
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 1rem;
		gap: 1rem;
	}

	.footerNav > .footerNavHeading {
		font-size: 1.25rem;
	}
}
