.footer {
	background: #9cc4b9;
	padding: 3rem;
	flex-wrap: wrap;
	gap: 3rem;
}

.footerNav > .footerNavHeading {
	color: #2d4057;
	font-size: 2rem;
	font-weight: 500;
}

.footerNav ul a {
	color: #2d4057;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 1rem;
		gap: 1rem;
	}

	.footerNav > .footerNavHeading {
		font-size: 1.25rem;
	}
}
