.organizer {
	max-width: 10rem;
}

.avatarCunt {
	background-color: var(--color-body);
	border-radius: 50%;
	overflow: hidden;
}

.avatar {
	border-radius: 9999px;
	height: 6.25rem;
	width: 6.25rem;
}
