.cardLink {
	color: unset;
	text-decoration: none;
}

.card {
	background-color: var(--card-bg);
	box-shadow: 0.5rem 0.5rem var(--card-shadow);
}

.cardLink:focus-visible {
	outline: 10px solid var(--color-outline);
}

.cardLink>.card:active,
.cardLink>.card:hover {
	box-shadow: 0.5rem 0.5rem var(--card-shadow-hover);
}

.blue {
	--card-bg: #bdd6e6;
	--card-shadow: #0064b1;
	--card-shadow-hover: #003865;
}

.green {
	--card-bg: #c4ffc4;
	--card-shadow: #228848;
	--card-shadow-hover: #007600;
}

.red {
	--card-bg: #ffc4c4;
	--card-shadow: var(--color-red);
	--card-shadow-hover: #8e2c48;
}

.yellow {
	--card-bg: #ffffb1;
	--card-shadow: #ffbb76;
	--card-shadow-hover: #ff9427;
}

.white {
	border: 1px solid black;
	--card-bg: white;
	--card-shadow: var(--color-gray-2);
	--card-shadow-hover: var(--color-gray-3);
}
