.accordion {
	background: #eee;
}

.accordion > summary {
	display: flex;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	align-items: center;
	justify-content: space-between;
}

.accordion > summary::-webkit-details-marker {
	display: none;
}

.accordion > summary:hover {
	cursor: pointer;
}

.accordion > .child {
	padding: 0 1.5rem;
}

.accordion > summary > svg {
	transition: transform 0.2s ease-out;
}

.accordion[open] > summary > svg {
	transform: rotate(90deg);
}
