.accordion {
	background: #eee;
	width: 100%;
}

.accordion > summary {
	font-family: var(--font-heading);
	display: flex;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	align-items: center;
	justify-content: space-between;
}

.accordion > summary::-webkit-details-marker {
	display: none;
}

.accordion > summary:hover {
	box-shadow: 3px 0 0 var(--color-uta-orange) inset;
	color: var(--color-uta-orange);
	cursor: pointer;
}

.accordion > .child {
	padding: 0 1.5rem;
}

.accordion > summary > svg {
	transition: transform 0.2s ease-out;
}

.accordion[open] > summary > svg {
	transform: rotate(90deg);
}
